.modeLight {

  background-color: #f4f4f4;
  width: auto;
  margin: auto;
}



.iconMoon{
  color: #000;
}

.text{
  display: flex;
}

.title{
  margin-bottom: 20px;
  text-align: center;
}

.icons{
  display: flex;
  justify-content: flex-end;
  cursor: hand;
}

button{
  border: none;
  background: none;
  
}

.form{
  margin-top:37px;
  text-align: center;
  height:100vh;
}

/*vista modal*/

.modeDark{ 
  background-color: #333333;
}

.iconSun{
  color: #F1C40F ;
}

.titleDark{
  color: #4A235A ;
  text-align: center;
}

.textDark{
  color: #fff;
}
